{% extends "external_base.html" %}
{% block messages %}

<h3>Enter your new password.</h3>

{% if form.errors %}
<div style="width:500px; border:2px dotted red; margin:0 auto; padding:10px; text-align:center; color:#222;">
  <p>Oops! we found some errors in the following fields:</p>
    {% for field in form %}
          {{ field.label_tag }}{{ field.errors }}
    {% endfor %}
</div>
{% endif %}

    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
              Password <br>{{ form.new_password1 }}
            </div>

            <div style="width:300px; height:50px; margin:0 auto; text-align:left; color:#666;">
              Repeat your password <br>{{ form.new_password2 }}
            </div>

            <button style="width:300px;" class="btn btn-primary" type="submit">Submit</button>
        </form>
    {% else %}
        <p>This reset link is no longer valid!</p>
    {% endif %}
{% endblock %}
